body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: rgb(255, 157, 0);
}
section{
    display: flex;
}
.half-width{
    width: 60%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: rgba(2, 80, 4, 0.892);
    font-weight: 700;
    border-radius: 5px;
}
.top-but{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}